{% extends 'base.html' %}

{% block content %}





<h3>NOtebook list</h3>

<p>Total notebooks = {{ notebooks | length }}</p>



    <table class="table">

        <tr>
            <th>Title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Date added</th>
            <th>Category</th>
        </tr>


            {% for p in notebooks %}

             <tr>
                 <td>{{p.title | default_if_none:"----"}}</td>
                 <td>{{p.price | default_if_none:"----"}}</td>
                 <td>{{p.quantity}}</td>
                 <td>{{p.date_added}}</td>
                 <td>{{p.category.name | default:"----"}}</td>
            </tr>

            {% endfor %}

    </table>

{% endblock %}